<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/select-option-page"></ion-back-button>
    </ion-buttons>
    <ion-title>Add Vegetable Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding speaker-detail">
  <div class="ion-text-center">
    <form novalidate>
      <ion-list>
        <ion-item>
          <ion-label>Select Location</ion-label>

          <ion-select
          #locationKey="ngModel"
          [(ngModel)]="addVegetableInof.locationKey"
          name="locationKey"          
          value="brown"
          okText="Okay"
          cancelText="Dismiss"
        >
          <ion-select-option *ngFor="let location of locations" [value]="location.key">
            {{ location.locationName }}
          </ion-select-option>
        </ion-select>

        </ion-item>

        <ion-item>
          <ion-label position="floating">Vegetable Name</ion-label>
          <ion-input  #FruitName="ngModel"  [(ngModel)]="addVegetableInof.vegetableName" name="FruitName" type="text" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Unit Price </ion-label>
          <ion-input #unitPrice="ngModel"  [(ngModel)]="addVegetableInof.unitPrice" name="UnitPrice" type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Minimum Order</ion-label>
          <ion-input #minimumOrder="ngModel"  [(ngModel)]="addVegetableInof.minimumOrder" name="minimumOrder" type="text" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Market Price</ion-label>
          <ion-input #marketPrice="ngModel"  [(ngModel)]="addVegetableInof.marketPrice" name="marketPrice" type="text" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">In Stock (kg)</ion-label>
          <ion-input #inStock="ngModel"  [(ngModel)]="addVegetableInof.stockamount"  name="stockamount" type="text" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Fruit Image</ion-label>
          <!-- <ion-input  (change)="uploadFile($event.target.files)" type="file"></ion-input> -->
          <ion-input  (change)="uploadFile($event.target.files)" type="file"></ion-input>
          <!-- <ion-input #union="ngModel" [(ngModel)]="userInfo.union" name="union" type="text" name="title" required></ion-input> -->
        </ion-item>
      </ion-list>

      <ion-row>
        <ion-col>
          <ion-button (click)="save(addVegetableInof)" type="submit" expand="block">Submit</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>