<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"> </ion-buttons>
    <ion-title style="float: left;">Vegetables</ion-title>
    <ion-icon
      style="float: right; font-size: 25px; margin-right: 5%;"
      name="cart"
    ></ion-icon>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar  #q
    [showCancelButton]="true"
    (keyup)="filter(q.value)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed  *ngFor="let vegetable of filteredVegetables">
    <ion-card>
      <ion-row class="ion-align-items-stretch">
        <ion-col size="4">
          <img
           [src]="vegetable.vegetableImageUrl"
            alt=""
            style="height: 75px; width: 140px; margin-top: 15px;"
          />
        </ion-col>
        <ion-col size="8">
          <p
            style="margin-top: 0px;
              font-size: 22px; margin-bottom: -5px;"
          >
            {{vegetable.vegetableName}}
          </p>
          <ion-item style="margin-left: -16px;">
            <ion-select
              placeholder="Select value"
              style="padding: 0; font-size: 14px;"
            >
              <ion-select-option value="brown">Tk 50 - 500gm</ion-select-option>
              <ion-select-option value="blonde">Tk 100 - 1kg</ion-select-option>
              <ion-select-option value="black">Tk 200 - 3kg</ion-select-option>
            </ion-select>
          </ion-item>
          <p style="float: left; font-weight: 500;">Tk.{{vegetable.marketPrice}}</p>
          <ion-button
            color="primary"
            style="margin-left: 30%;
              height: 29px;
              margin-top: 10px;"
            >Add Item</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-card>
   
  </ion-grid>
</ion-content>

<!-- <ion-content>
  <ion-grid fixed>
    <ion-row class="ion-align-items-stretch">
      <ion-col size="12" size-md="6" >
        <ion-card class="speaker-card">
          <ion-card-header>
            <ion-item detail="false" lines="none" routerLink="/app/tabs/speakers">
              <ion-avatar slot="start">
                <img src="assets/img/food.jpg" alt="">
              </ion-avatar>
              Pic
            </ion-item>
          </ion-card-header>

          <ion-card-content>
            <ion-list>
              <ion-item  routerLink="/app/tabs/speakers">
                <h3>Name</h3>
              </ion-item>

              <ion-item routerLink="/app/tabs/speakers">
                <h3>About </h3>
              </ion-item>
            </ion-list>
          </ion-card-content>

          <ion-row class="ion-no-padding ion-justify-content-center">
            <ion-col size="4" class="ion-text-left">
              <ion-button fill="clear" size="small" color="primary" >
                <ion-icon name="logo-twitter" slot="start"></ion-icon>
                Tweet
              </ion-button>
            </ion-col>
            <ion-col size="4" class="ion-text-center">
              <ion-button fill="clear" size="small" color="primary" >
                <ion-icon name="share-alt" slot="start"></ion-icon>
                Share
              </ion-button>
            </ion-col>
            <ion-col size="4" class="ion-text-right">
              <ion-button fill="clear" size="small" color="primary" >
                <ion-icon name="chatboxes" slot="start"></ion-icon>
                Contact
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> -->
