$categories: (
  ionic: var(--ion-color-primary),
  angular: #ac282b,
  communication: #8e8d93,
  tooling: #fe4c52,
  services: #fd8b2d,
  design: #fed035,
  workshop: #69bb7b,
  food: #3bc7c4,
  documentation: #b16be3,
  navigation: #6600cc
);

@each $track, $value in map-remove($categories) {
  ion-item-sliding[track="#{$track}"] ion-label {
    border-left: 2px solid $value;
    padding-left: 10px;
  }
}

ion-content {
  --background: linear-gradient(rgba(25, 25, 55, 0.3), rgba(25, 25, 55, 0.3)),
    url("/assets/img/veg-wallpaper.jpg") no-repeat center center / cover;
}

/* .bg-image {
  background-image: url("/assets/img/food.jpg");
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 100%;
}
 */
.no-scroll .scroll-content {
  overflow: hidden;
}
